{% extends 'password_reset_base.html' %}
{% load static %}
{% load socialaccount %}

{% block body %}

<!-- Form Title -->
<h1 class="form-title">Reset your password</h1>

<form id="reset-password-form" method="post">
    {% csrf_token %}
    
    <!-- New password -->
    <div class="form-group">
        <label class="form-label" for=" {{form.new_password1.id_for_label }}">
            New password
            <span class="required-text">(required)</span>
        </label>
        <!-- {{ form.new_password1"  } } instead use manual input to get the same sytle -->
        <input type="password" name="new_password1" id="id_new_password1" class="form-control" required>


        {% for error in form.new_password1.errors %}
            <div class="text-danger small">{{ error }}</div>
        {% endfor %}

    </div>

    <!-- Confirm new password -->
        <div class="form-group">
        <label class="form-label" for="{{ form.new_password2.id_for_label }}">
            Confirm password
            <span class="required-text">(required)</span>
        </label>

        <input type="password" name="new_password2" id="id_new_password2" class="form-control" required>


        {% for error in form.new_password2.errors %}
            <div class="text-danger small">{{error}}</div>
        {% endfor %}
        </div>

        <br>
        <button type="submit" class="btn btn-create-account">Reset Password</button>
</form>

 <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
        <!-- jQuery (required for Toastr) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- Toastr JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

    <!-- Toastr Config + Django Messages -->
    <script>
        toastr.options = {
            "closeButton": true,
            "progressBar": true,
            "positionClass": "toast-bottom-right",
            "timeOut": "3000"
        };

    {% if messages %}

       {% for message in messages %}
            toastr["{{ message.tags|default:'info' }}"]("{{ message|escapejs }}");
        {% endfor %}
    
    {% endif %}

    {% block scripts %}{% endblock %}
    
    let countdown = 300;
    function startCountdown() {
        const timerEl = document.getElementById("timer");
        const interval = setInterval(() => {
            let minutes = Math.floor(countdown / 60);
            let seconds = countdown % 60;
            timerEl.innerText = `${minutes}:${seconds < 10 ? '0' : ''}${seconds}`;
            countdown--;
            if (countdown < 0) {
                clearInterval(interval);
                timerEl.innerText = "00:00";
                toastr.error("Your OTP has expired. Please request a new one.");
            }
        }, 1000);
    }
    window.onload = startCountdown;
    </script>  
{% endblock %}
