{% extends 'password_reset_base.html' %}
{% load static %}
{% load socialaccount %}

{% block body %}
<!-- Form Title -->
    <div>  
<h1 class="form-title">Forgotten your password?</h1>
<h6>Please enter your email address below and we'll email you instructions on how to reset it.</h6>
</div>
<!-- Registration Form -->
<form method="POST" action="{% url 'password_reset' %}">
{% csrf_token %}

<!-- email input -->
    <div class="form-group">
        <label class="form-label" for = "{{ form.email.id_for_label}}">
            Email 
            <span class="required-text">(required)</span>
        </label>
        <input type="email" class="form-control" name="{{form.email.name}}" id="{{ form.email_id_for_label }}" required>
    </div>

    <button type="submit" class="btn btn-create-account">Reset Password</button>



<!-- Login Link -->
<div class="login-link">
    <a href="{% url 'login' %}">Cancel</a>
</div>
</form>

 <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
        <!-- jQuery (required for Toastr) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- Toastr JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

    <!-- Toastr Config + Django Messages -->
    <script>
        toastr.options = {
            "closeButton": true,
            "progressBar": true,
            "positionClass": "toast-bottom-right",
            "timeOut": "3000"
        };

    {% if messages %}

       {% for message in messages %}
            toastr["{{ message.tags|default:'info' }}"]("{{ message|escapejs }}");
        {% endfor %}
    
    {% endif %}

    {% block scripts %}{% endblock %}
    
    let countdown = 300;
    function startCountdown() {
        const timerEl = document.getElementById("timer");
        const interval = setInterval(() => {
            let minutes = Math.floor(countdown / 60);
            let seconds = countdown % 60;
            timerEl.innerText = `${minutes}:${seconds < 10 ? '0' : ''}${seconds}`;
            countdown--;
            if (countdown < 0) {
                clearInterval(interval);
                timerEl.innerText = "00:00";
                toastr.error("Your OTP has expired. Please request a new one.");
            }
        }, 1000);
    }
    window.onload = startCountdown;
    </script>  
{% endblock %}