{% extends 'password_reset_base.html' %}
{% load static %}
{% load socialaccount %}

{% block body %}

<!-- Form Title -->


<h1 class="form-title">Email Sent</h1>

<h4 style="margin-bottom: 2rem;">Check your email for the reset link.</h4>

<a href="{% url 'login' %}" class="btn btn-create-account">Back to Login</a>


 <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
        <!-- jQuery (required for Toastr) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- Toastr JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

    <!-- Toastr Config + Django Messages -->
    <script>
        toastr.options = {
            "closeButton": true,
            "progressBar": true,
            "positionClass": "toast-top-left",
            "timeOut": "3000"
        };

    {% if messages %}

       {% for message in messages %}
            toastr["{{ message.tags|default:'info' }}"]("{{ message|escapejs }}");
        {% endfor %}
    
    {% endif %}

    {% block scripts %}{% endblock %}
    
    let countdown = 300;
    function startCountdown() {
        const timerEl = document.getElementById("timer");
        const interval = setInterval(() => {
            let minutes = Math.floor(countdown / 60);
            let seconds = countdown % 60;
            timerEl.innerText = `${minutes}:${seconds < 10 ? '0' : ''}${seconds}`;
            countdown--;
            if (countdown < 0) {
                clearInterval(interval);
                timerEl.innerText = "00:00";
                toastr.error("Your OTP has expired. Please request a new one.");
            }
        }, 1000);
    }
    window.onload = startCountdown;
    </script>  
{% endblock %}
            
